/*Left slide in*/
/* This animation will be used for the education and about text sections */
@keyframes slideInLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.edu-list, .about-text {
  animation: slideInLeft 1.5s ease forwards;
  opacity: 0;
}

/*Fade in bottom*/
/* This animation will be used for the hero header */
@keyframes fadeInBottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero-header {
  animation: fadeInBottom 1.5s ease-in-out forwards;
  opacity: 0;
}

/* Slide in right */
/* This animation will be used for the about image */
@keyframes slideInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.about-image {
  animation: slideInRight 1.5s ease forwards;
  opacity: 0;
}

/* Fade in */
/* This animation will be used for the tech stack and project sections */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tech-grid li {
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
}

/* Slide in up */
/* This animation will be used for the project section and contact cards */
@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.project-grid li, .contact-cards {
  animation: slideInUp 1.5s ease forwards;
  opacity: 0;
}